In [1]:
import cudf
import os
import time
import datetime
import pandas

In [2]:
home_dir = os.path.expanduser("~")
data_dir = os.path.join(home_dir, "datasets")

In [3]:
def get_csv_files(directory):
    csv_files = []
    for entry in os.scandir(directory):
        if entry.is_dir(follow_symlinks=False):
            sub_dir_csv_files = get_csv_files(entry)
            for sub_dir_csv_file in sub_dir_csv_files:
                csv_files.append(sub_dir_csv_file)
            
        elif entry.path.endswith(".csv"):
            # print(".csv")
            csv_files.append(entry)

    return csv_files

In [5]:
biggest_size = 0

for csv_file in get_csv_files(data_dir):
    csv_file_name = csv_file.path
    csv_file_size = csv_file.stat(follow_symlinks=False).st_size
    print("file: {}, size: {} (bytes)".format(csv_file_name, csv_file_size))
    if csv_file_size > biggest_size:
        biggest_size = csv_file_size
        biggest_file = csv_file
        
print("\nbiggest file: {}".format(biggest_file.path))
print("size: {} (bytes)".format(biggest_size))

file: /home/badscooter23/datasets/airlines/DelayedFlights.csv, size: 247963212 (bytes)
file: /home/badscooter23/datasets/celeba-dataset/list_eval_partition.csv, size: 2836404 (bytes)
file: /home/badscooter23/datasets/celeba-dataset/list_landmarks_align_celeba.csv, size: 9932092 (bytes)
file: /home/badscooter23/datasets/celeba-dataset/list_bbox_celeba.csv, size: 5390926 (bytes)
file: /home/badscooter23/datasets/celeba-dataset/list_attr_celeba.csv, size: 24913339 (bytes)
file: /home/badscooter23/datasets/celeba-dataset/customer.csv, size: 779474 (bytes)

biggest file: /home/badscooter23/datasets/airlines/DelayedFlights.csv
size: 247963212 (bytes)

In [6]:
start_time = time.time()
gpu_df = cudf.read_csv(biggest_file.path)
gpu_read_time = time.time() - start_time

In [7]:
start_time = time.time()
pd_df = pandas.read_csv(biggest_file.path)
pd_read_time = time.time() - start_time

In [8]:
def ratio(gpu_time, pandas_time):
    return pandas_time / gpu_time

In [9]:
print("GPU is {}x faster (or slower)...".format(round(ratio(gpu_read_time, pd_read_time), 2)))

GPU is 3.49x faster (or slower)...

In [10]:
def equivalent_to_n(gpu_calculated_value, pd_calculated_value):
    
    MAX_N = 30
    for digits in range(1,MAX_N):
        # print(digits)
        
        g = round(gpu_calculated_value,digits) 
        p = round(pd_calculated_value, digits)
        
        if g != p:
            break
            
    return digits-1

In [11]:
print(equivalent_to_n(3.141516, 3.141520))

5

In [12]:
gpu_df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,null,null,null,null,null
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,null,null,null,null,null
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,null,null,null,null,null
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,null,null,null,null,null

In [13]:
gpu_df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [14]:
gpu_df.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1.936758e+06,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.936758e+06,...,1.936758e+06,1.929648e+06,1.936303e+06,1.936758e+06,1.936758e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06
mean,3.341651e+06,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,2.184263e+03,...,7.656862e+02,6.812975e+00,1.823220e+01,3.270000e-04,4.004000e-03,1.917940e+01,3.703571e+00,1.502163e+01,9.013700e-02,2.529647e+01
std,2.066065e+06,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,1.944702e+03,...,5.744797e+02,5.273595e+00,1.433853e+01,1.807600e-02,6.314700e-02,4.354621e+01,2.149290e+01,3.383305e+01,2.022714e+00,4.205486e+01
min,0.000000e+00,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.517452e+06,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,...,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.242558e+06,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.543000e+03,...,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,8.000000e+00
75%,4.972467e+06,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,3.422000e+03,...,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,2.100000e+01,0.000000e+00,1.500000e+01,0.000000e+00,3.300000e+01
max,7.009727e+06,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,...,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [18]:
gpu_df.profile_report()

AttributeError: 'DataFrame' object has no attribute 'profile_report'

In [87]:
start_time = time.time()
gpu_sum = []
for c in gpu_df.columns:
    if c == 'image_id':
        gpu_sum.append(0)
    else:
        gpu_sum.append(gpu_df[c].sum())
gpu_sum_time = time.time() - start_time

In [88]:
start_time = time.time()
pd_sum = []
for c in pd_df.columns:
    if c == 'image_id':
        pd_sum.append(0)
    else:
        pd_sum.append(pd_df[c].sum())
pd_sum_time = time.time() - start_time

In [89]:
print("GPU is {}x faster (or slower)...".format(round(ratio(gpu_sum_time, pd_sum_time), 2)))

GPU is 0.79x faster (or slower)...

In [94]:
print(len(pd_sum)==len(gpu_sum))
print(len(pd_sum)==pd_df.shape[1])
print(pd_df.shape)
print(len(gpu_sum)==gpu_df.shape[1])
print(gpu_df.shape)

True
True
(202599, 41)
True
(202599, 41)

In [98]:
for i in range(0,len(gpu_sum)):
    print("equal: {}, cudf sum: {} pandas sum: {}".format(gpu_sum[i]==pd_sum[i],gpu_sum[i], pd_sum[i]))

equal: True, cudf sum: 0 pandas sum: 0
equal: True, cudf sum: -157567 pandas sum: -157567
equal: True, cudf sum: -94419 pandas sum: -94419
equal: True, cudf sum: 5067 pandas sum: 5067
equal: True, cudf sum: -119707 pandas sum: -119707
equal: True, cudf sum: -193505 pandas sum: -193505
equal: True, cudf sum: -141181 pandas sum: -141181
equal: True, cudf sum: -105029 pandas sum: -105029
equal: True, cudf sum: -107567 pandas sum: -107567
equal: True, cudf sum: -105655 pandas sum: -105655
equal: True, cudf sum: -142633 pandas sum: -142633
equal: True, cudf sum: -181975 pandas sum: -181975
equal: True, cudf sum: -119455 pandas sum: -119455
equal: True, cudf sum: -144993 pandas sum: -144993
equal: True, cudf sum: -179273 pandas sum: -179273
equal: True, cudf sum: -183681 pandas sum: -183681
equal: True, cudf sum: -176213 pandas sum: -176213
equal: True, cudf sum: -177167 pandas sum: -177167
equal: True, cudf sum: -185601 pandas sum: -185601
equal: True, cudf sum: -45819 pandas sum: -45819
equal: True, cudf sum: -18221 pandas sum: -18221
equal: True, cudf sum: -33731 pandas sum: -33731
equal: True, cudf sum: -6715 pandas sum: -6715
equal: True, cudf sum: -185765 pandas sum: -185765
equal: True, cudf sum: -155941 pandas sum: -155941
equal: True, cudf sum: 135717 pandas sum: 135717
equal: True, cudf sum: -87465 pandas sum: -87465
equal: True, cudf sum: -185197 pandas sum: -185197
equal: True, cudf sum: -90179 pandas sum: -90179
equal: True, cudf sum: -170273 pandas sum: -170273
equal: True, cudf sum: -175969 pandas sum: -175969
equal: True, cudf sum: -179701 pandas sum: -179701
equal: True, cudf sum: -7261 pandas sum: -7261
equal: True, cudf sum: -118155 pandas sum: -118155
equal: True, cudf sum: -73111 pandas sum: -73111
equal: True, cudf sum: -126047 pandas sum: -126047
equal: True, cudf sum: -182963 pandas sum: -182963
equal: True, cudf sum: -11169 pandas sum: -11169
equal: True, cudf sum: -152773 pandas sum: -152773
equal: True, cudf sum: -173135 pandas sum: -173135
equal: True, cudf sum: 110869 pandas sum: 110869